<p>
<a href="/Friends/{{ friend.user.username }}">{{ friend.short_name }}</a>
{% for category in friend.friendcategory_set.all %}
(<b>{% if friend.young_friend %}J{% endif %}{{ category.code }}</b>)
{% endfor %}
{% if friend.address %}
<br/>
{{ friend.address.street }}<br/>
{{ friend.address.city }}, {{ friend.address.state }} {{ friend.address.postal_code }}
{% endif %}
<br/>
{% if phone_numbers %}
{% for phone in phone_numbers %}
 {{ phone.number }} 
 ({% if phone.phone_number_type == 0 %}home{% endif %}
  {% if phone.phone_number_type == 1 %}cell{% endif %}
  {% if phone.phone_number_type == 2 %}business{% endif %}
  {% if phone.phone_number_type == 3 %}work{% endif %}
  {% if phone.phone_number_type == 4 %}other{% endif %})<br/>
{% endfor %}
{% endif %}

<a href="mailto:{{ friend.user.email }}">{{ friend.user.email }}</a>
</p>
