{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page-title %}{% if page.title %}{{ page.title }}{% else %}Colorado Springs Friends Meeting{% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block page-description %}{% if page.description %}{{ page.description }}{% else %}Colorado Springs Monthly Meeting is an unprogrammed group of Religious Society of Friends.{% endif %}{% endblock %}" />
    {% if page.authors %}
    {% for author in page.authors %}
    <meta name="author" content="{{ author }}">
    {% endfor %}
    {% else %}
    <meta name="author" content="Jeremy Nelson, Recording Clerk">
    {% endif %}
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/quaker.less" rel=="stylesheet/less" >
    {% block more-css %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    </style>
    {% endblock %}
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/google-analytics.js" type="text/javascript"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{% block page-nav-name %}{% if page.name %}{{ page.name }}{% else %}{% trans "Colorado Springs Quakers" %}{% endif %}{% endblock %}</a>
          <div class="nav-collapse">
            <ul class="nav secondary-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
		       <a href="#" class="dropdown-toggle" 
		         data-toggle="dropdown">Testimonies<b class="caret"></b></a>
		         <ul class="dropdown-menu">
		           <li><a href="/testimonies/Simplicity">Simplicity</a></li>
                   <li><a href="/testimonies/Peace">Peace</a></li>
                   <li><a href="/testimonies/Integrity">Integrity</a></li>
                   <li><a href="/testimonies/Community">Community</a></li>
                   <li><a href="/testimonies/Equality">Equality</a></li>
		        </ul>
	          </li>
	          {% comment %}START Committee drop-down LI{% endcomment %}
              <li class="dropdown">
				<a href="#" class="dropdown-toggle" 
		         data-toggle="dropdown">Committees<b class="caret"></b></a>
		        <ul class="dropdown-menu">
                  <li><a href="/committees/MinistryAndOversight/">Ministry and Oversight</a></li>
                  <li><a href="/committees/Education/">Education</a></li>
                  <li><a href="/committees/Finance">Finance</a></li>
                  <li><a href="/committees/MeetingHouse">Meeting House</a></li>
                  <li><a href="/committees/Nominating">Nominating</a></li>
                  <li><a href="/committees/REA/">Religious Education &amp; Action</a></li>
                  <li class="divider"></li>
                  <li><a href="/committees/">Committees Home</a></li>
                  
		        </ul>
		      {% comment %}END Committee drop-down LI{% endcomment %}   
		      </li>
		      {% comment %}START About drop-down LI{% endcomment %}   
              <li class="dropdown">
				<a href="#" class="dropdown-toggle" 
		         data-toggle="dropdown">About<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		         <li><a href="/history">History</a></li>
		         <li><a href="/ReligiousSocietyOfFriends">Religious Society of Friends</a></li>
		         <li><a href="/meetings/">Meetings</a></li>
		         <li><a href="/Friends">Current Friends</a></li>
		         <li><a href="/donate">Donate</a></li>
		        </ul>
			  {% comment %}END About drop-down LI{% endcomment %}   
			  </li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            {% ifequal user None%}
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a>
                                                           <a href="{{ logout_url }}">logout</a></p>
            {% else %}
            <p class="navbar-text pull-right">
             <form class="form-inline" action="{{ login_url }}" method="POST">
                <input type="text" class="input-small" placeholder="Email">
                <input type="password" class="input-small" placeholder="Password">
                <button type="submit" class="btn">Go</button>
            </form>
            </p>
            {% endifequal %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
		{% block sidebar-nav %}
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Testimonies</li>
              <li {% comment %}class="active"{% endcomment %}><a href="/testimonies/simplicity">Simplicity</a></li>
              <li><a href="/testimonies/Peace">Peace</a></li>
              <li><a href="/testimonies/Integrity">Integrity</a></li>
              <li><a href="/testimonies/Truth">Truth</a></li>
              <li><a href="/testimonies/Community">Community</a></li>
              <li><a href="/testimonies/Equality">Equality</a></li>
              <li class="nav-header">Friends Meetings</li>
              <li><a href="/meetings/Worship">Worship</a></li>
              <li><a href="/meetings/Business">Business</a></li>
              <li><a href="/meetings/Special">Special</a></li>
              <li><a href="/meetings/AdvicesAndQueries">Advices and Queries</a></li>
              <li><a href="/committees">Committees</a></li>
              <li><a href="http://www.imym.org/">Intermountain Yearly Meeting</a></li>
              <li><a href="/fgc">Friends General Conference</a></li>
              <li class="nav-header">Our History</li>
              <li><a href="/history/origin">George Fox &amp; the First Quakers</a></li>
              <li><a href="/history/ReligiousSocietyOfFriends">Religious Society of Friends</a></li>
              <li><a href="/history/Hicksite">Hicksite Split</a></li>
              <li><a href="/history/AbolitionAndSuffrage">Abolition &amp; Suffrage</a></li>
              <li><a href="/history/ColoradoSprings">In Colorado Springs</a></li>
              <li class="nav-header">Current Friends</li>
              <li><a href="/Friends/">Members and Attenders</a></li>
              <li><a href="/Friends/Young">Young Friends</a></li>
              <li class="nav-header">Committees</li>
              <li><a href="/committees/MinistryAndOversight/">Ministry and Oversight</a></li>
              <li><a href="/committees/Education/">Education</a></li>
              <li><a href="/committees/Finance">Finance</a></li>
              <li><a href="/committees/MeetingHouse">Meeting House</a></li>
              <li><a href="/committees/Nominating">Nominating</a></li>
              <li><a href="/committees/REA/">Religious Education &amp; Action</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        {% endblock %}
        <div class="span9">
		  {% block hero-unit %}
          <div class="hero-unit">
            <h1>Colorado Springs Quakers</h1>
            <p>Colorado Springs <a href="/ReligiousSocietyOfFriends">Religious Society of Friends</a>, 
               Unprogrammed Quaker Meeting</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          {% endblock %}
          
          {% block first-row %}
          <div class="row-fluid">
            {% block one-one-box %}
            <div class="span4">
              <h2>Worship</h2>
              <p>Weekly Meetings for Colorado Springs Religious Society of 
                 Friends Meeting is held at:
              <div class="alert alert-info">
              {% if meeting.location %}{{ meeting.location }}{% else %}
               The Pride Center<br/>
               2508 E. Bijou Ave.<br/>
               Colorado Springs, CO 80903
              {% endif %}
              </div>
              <p><a class="btn" href="/worship">View details &raquo;</a></p>
            </div><!--/span-->
            {% endblock %}
            {% block one-two-box %}
            <div class="span4">
              <h2>Testimonies</h2>
              <p>The Quaker Testimonies are bedrock values for 
               <a href="/ReligiousSocietyOfFriends">Religious Society of Friends</a>.
               They are know informally as <strong>SPICE</strong> and are as follows:
              </p>
              <ul>
                <li><a href="/testimonies/simplicity">Simplicity</a></li>
                <li><a href="/testimonies/peace">Peace</a></li>
                <li><a href="/testimonies/integrity">Integrity</a>/<a href="/testimonies/truth">Truth</a></li>
                <li><a href="/testimonies/community">Community</a></li>
                <li><a href="/testimonies/community">Equality</a></li>
              </ul>
              <p><a class="btn" href="/testimonies/">View details &raquo;</a></p>
            </div>
            <!--/span-->
            {% endblock %}
            {% block one-three-box %}
            <div class="span4">
              <h2>News and Events</h2>
              <p> </p>
              <p><a class="btn" href="/news">View details &raquo;</a></p>
            </div><!--/span-->
           {% endblock %}
          </div><!--/row-->
          {% endblock %}
          {% block second-row %}
          <div class="row-fluid">
           {% block two-one-box %}
            <div class="span4">
              <h2>History &amp; Resources</h2>
              <p></p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
           {% endblock %}
           {% block two-two-box %}
            <div class="span4">
              <h2>Friends</h2>
              <p>Friends are made up of <a href="/Friends/Attenders">Attenders</a>,
                 <a href="/Friends/Members">Members</a>, and 
                 <a href="/Friends/Young">Young Friends</a>.</p>
              <p><a class="btn btn-info btn-large" href="#">Donate!</a></p>
               
            </div><!--/span-->
           {% endblock %}
           {% block two-three-box %}
            <div class="span4">
              <h2>Contact</h2>
              <p>Our postal address is:</p>
              <div class="alert alert-block">P.O. Box 2514
                    Colorado Springs, Colorado
                    80903</div>
               <p>Our telephone number is:</p>
               <div class="alert alert-block alert-info">719.685.5548</div>
              <p><a class="btn" href="#">Email Us</a></p>
            </div><!--/span-->
           {% endblock %}
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      {% endblock %}
      <hr>

      {% block footer %}
      <footer>
        <p>&copy; Colorado Springs Monthly Meeting 2012</p>
      </footer>
      {% endblock %}

    </div><!--/.fluid-container-->
    
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    {% block more-js %}{% endblock %}

  </body>
</html>
