{% extends 'base.html' %}
{% load event_extras %}
{% load history_extras %}
{% block breadcrumbs %}{% endblock %}

{% block manage-toolbar %}
{% if user.is_superuser %}
<div class="row">
 <div class="span2"><span class="label">Logged in as {{ user.username }}</span></div>
 <div class="btn-toolbar span6">
  <div class="btn-group">
   <button href="#" class="btn btn-small" onclick="$('#reload-rst-dlg').modal('show')">Reload RST</button>
  </div>
  <div class="btn-group">
   <button href="#" class="btn btn-small" onclick="$('#add_friend').modal('show')">Committees</button>
   <button href="#" class="btn btn-small" onclick="$('#add_friend').modal('show')">Testimonies</button>
  </div>
 </div>
</div>
{% endif %}

{% endblock %}

{% block sidebar-nav %}
 {% include 'left-nav-bar.html' %}
{% endblock %}

{% block hero-unit %}
 <div class="span6 hero-unit">
  <h1>Colorado Springs Quakers</h1>
  {% include "snippets/main-carousel.html" %}
  <p>Colorado Springs <a href="/history/ReligiousSocietyOfFriends">Religious Society of Friends</a>, 
     Unprogrammed Quaker Meeting</p>
 </div>
{% endblock %}

{% block second-row %}
<div class="row">
 <div class="span4 offset2 box_display">
   <h2>Worship &amp; Contacting Us</h2>
     <p>Weekly <a href="/meetings/Worship"
           alt="Meeting For Worship">Meetings for Worship 
        <i class="icon-info-sign"></i></a> with the Colorado Springs Religious 
        Society of Friends Meeting are held at:
        <div class="alert alert-info">
          {% if meeting.location %}{{ meeting.location }}{% else %}
           950 Cimarron Street East<br/>
           Colorado Springs, CO 80903
          {% endif %}
        </div>
   <p>Our telephone number is:
    <span class="label label-info" style="font-size: 1.2em !important;">719.685.5548</span></p>
   </p>        
    <p style="text-align:center;">
	  <a class="btn btn-primary btn-small" href="#" onclick="$('#email-dlg').modal('show')"><i class="icon-envelope icon-white"></i> Email</a>
    </p>	
 </div>
 <div class="span4">
  <div class="box_display">
	<h2>Testimonies</h2>
	<p>The core values for the
	 <a href="/history/ReligiousSocietyOfFriends">Religious Society of Friends</a>
     are our Quaker Testimonies of:
	</p>
    <ul>
 	 <li><a href="/testimonies/simplicity">Simplicity</a></li>
	 <li><a href="/testimonies/peace">Peace</a></li>
	 <li><a href="/testimonies/integrity">Integrity</a>/<a href="/testimonies/truth">Truth</a></li>
	 <li><a href="/testimonies/community">Community</a></li>
	 <li><a href="/testimonies/equality">Equality</a></li>
	 </ul>
	<p><a class="btn" href="/testimonies/">More &raquo;</a></p>
  </div>
  <br/>
  <div class="box_display">
    <h2>News and Events</h2>
     {{ "today"|get_calendar }}
    <p><a class="btn" href="/events/">View details &raquo;</a></p>    
  
  </div>
 </div>
</div>
{% endblock %}

{% block dialogs %}
 {% include 'snippets/email-dlg.html' %}
 {% include 'snippets/donate-dlg.html' %}
 {% if user.is_superuser %}
 {% include 'snippets/reload-dlg.html' %}
 {% endif %}

{% endblock %}
 
