
<div class="accordion" id="left-sidebar-nav">
 {% comment %}START Testimonies accordion group DIV{% endcomment %}
 <div class="accordion-group">
  {% comment %}START Testimonies accordion heading DIV{% endcomment %}
  <div class="accordion-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="testimonies-bodies">Testimonies</a>
  {% comment %}END Testimonies accordion heading DIV{% endcomment %}
  </div>
  {% comment %}START Testimonies accordion body DIV{% endcomment %}
  <div class="accordion-body collapse in">
   {% comment %}STAT Testimonies accordion inner DIV{% endcomment %}
   <div class="accordion-inner">
    <ul class="unstyled">
     <li>Simplicity</li>
    
    </ul>
   {% comment %}END Testimonies accordion inner DIV{% endcomment %}
   </div>
  {% comment %}END Testimonies accordion body DIV{% endcomment %}
  </div>
 {% comment %}END Testimonies accordion group DIV{% endcomment %}
 </div>
</div>
