{% load i18n %}
{% load event_extras %}
{% load history_extras %}
{% comment %}START span DIV{% endcomment %}
<div class="span3">
{% comment %}START well DIV{% endcomment %}
<div class="sidebar-nav" >
{% comment %}START accordion DIV{% endcomment %}
<div class="accordion" id="left-sidebar-nav">
 {% comment %}START Testimonies accordion group DIV{% endcomment %}
 <div class="accordion-group">
  {% comment %}START Testimonies accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#testimonies-bodies">Testimonies</a>
  {% comment %}END Testimonies accordion heading DIV{% endcomment %}
  </div>
  {% comment %}START Testimonies accordion body DIV{% endcomment %}
  <div class="accordion-body collapse {% if section == 'testimonies' %}in{% endif %}" id="testimonies-bodies">
   {% comment %}START Testimonies accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body">
    <ul class="unstyled">
     <li><a href="{% url testimonies.views.simplicity %}">Simplicity</a></li>
     <li><a href="{% url testimonies.views.peace %}">Peace</a></li>
     <li><a href="{% url testimonies.views.integrity %}">Integrity</a></li>
     <li><a href="{% url testimonies.views.community %}">Community</a></li>
     <li><a href="{% url testimonies.views.equality %}">Equality</a></li>
    </ul>
   {% comment %}END Testimonies accordion inner DIV{% endcomment %}
   </div>
  {% comment %}END Testimonies accordion body DIV{% endcomment %}
  </div>
 {% comment %}END Testimonies accordion group DIV{% endcomment %}
 </div>
 {% comment %}START meetings accordion group DIV{% endcomment %}
 <div class="accordion-group">
  {% comment %}START meetings accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#meetings-bodies">Meetings</a>
  {% comment %}END meetings accordion heading DIV{% endcomment %}
  </div>
 {% comment %}START meetings accordion body DIV{% endcomment %}
  <div class="accordion-body collapse {% if section == 'meetings' %}in{% endif %}" id="meetings-bodies">
   {% comment %}START meetings accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body" >
    <ul class="unstyled">
	  <li><a href="/meetings/Worship">Worship</a></li>
	  <li><a href="/meetings/Business">Business</a></li>
	  <li><a href="/meetings/Special">Special</a></li>
	  <li><a href="/meetings/AdvicesAndQueries">Advices and Queries</a></li>		
    </ul>
   {% comment %}END meetings accordion inner DIV{% endcomment %}
   </div>
 {% comment %}END meetings accordion body DIV{% endcomment %}
  </div>
 {% comment %}END meetings accordion group DIV{% endcomment %}
 </div>
 {% comment %}START committee accordion group DIV{% endcomment %}
 <div class="accordion-group">
  {% comment %}START committee accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#committees-body">Committees</a>
  {% comment %}END committees accordion heading DIV{% endcomment %}
  </div>
 {% comment %}START committees accordion body DIV{% endcomment %}
  <div class="accordion-body collapse {% if section == 'committees' %}in{% endif %}" id="committees-body">
   {% comment %}START committees accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body">
    <ul class="unstyled">
        <li><a href="/committees/MinistryAndOversight/">Ministry and Oversight</a></li>
		<li><a href="/committees/Education/">Education</a></li>
		<li><a href="/committees/Finance">Finance</a></li>
		<li><a href="/committees/MeetingHouse">Meeting House</a></li>
		<li><a href="/committees/Nominating">Nominating</a></li>
		<li><a href="/committees/REA/">Religious Education &amp; Action</a></li>	
	</ul>
   {% comment %}END committees accordion inner DIV{% endcomment %}
   </div>
 {% comment %}END committees accordion body DIV{% endcomment %}
  </div>
 {% comment %}END committees accordion group DIV{% endcomment %}
 </div>
 {% comment %}START history accordion group DIV{% endcomment %}
 <div class="accordion-group">
  {% comment %}START history accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#history-body">Our History</a>
  {% comment %}END history accordion heading DIV{% endcomment %}
  </div>
 {% comment %}START history accordion body DIV{% endcomment %}
  <div class="accordion-body collapse {% if section == 'history' %}in{% endif %}" id="history-body">
   {% comment %}START history accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body">
    <ul class="unstyled">
      {{ section|history_menu }}
    </ul>
   {% comment %}END history accordion inner DIV{% endcomment %}
   </div>
 {% comment %}END history accordion body DIV{% endcomment %}
  </div>
 {% comment %}END history accordion group DIV{% endcomment %}
 </div>
{% comment %}START friends accordion group DIV{% endcomment %}
 <div class="accordion-group">
 {% comment %}START friends accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#friends-body">Current Friends</a>
  {% comment %}END friends accordion heading DIV{% endcomment %}
  </div>
 {% comment %}START friends accordion body DIV{% endcomment %}
  <div class="accordion-body collapse {% if section == 'friends' %}in{% endif %}" id="friends-body">
   {% comment %}START friends accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body">
    <ul class="unstyled">
     <li><a href="/Friends/">Members and Attenders</a></li>
     <li><a href="/Friends/Young">Young Friends</a></li>
     <li><a href="http://www.imym.org/">Intermountain Yearly Meeting</a></li>
     <li><a href="http://www.fgcquaker.org/">Friends General Conference</a></li>     
    </ul>
   {% comment %}END friends accordion inner DIV{% endcomment %}
   </div>
 {% comment %}END friends accordion body DIV{% endcomment %}
  </div>
 {% comment %}END friends accordion group DIV{% endcomment %}
 </div>    
{% comment %}START calendar accordion group DIV{% endcomment %}
 <div class="accordion-group">
 {% comment %}START calendar accordion heading DIV{% endcomment %}
  <div class="accordion-heading left-nav-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#calendar-body">Calendar</a>
  {% comment %}END calendar accordion heading DIV{% endcomment %}
  </div>
 {% comment %}START calendar accordion body DIV{% endcomment %}
  <div class="accordion-body collapse" id="calendar-body">
   {% comment %}START calendar accordion inner DIV{% endcomment %}
   <div class="accordion-inner left-nav-body">
	   {{ "today"|get_calendar }}
  {% comment %}END calendar accordion inner DIV{% endcomment %}
   </div>
 {% comment %}END calendar accordion body DIV{% endcomment %}
  </div>
 {% comment %}END calendar accordion group DIV{% endcomment %}
 </div>    	   
{% comment %}END accordion DIV{% endcomment %}
</div>
{% comment %}END well DIV{% endcomment %}
</div>
{% comment %}END span DIV{% endcomment %}
</div>
