{% load i18n %}
 <div class="navbar navbar-fixed-top">
  <div class="navbar-inner top-nav-bar">
	<div class="container-fluid">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/">{% block page-nav-name %}{% if page.name %}{{ page.name }}{% else %}{% trans "Colorado Springs Quakers" %}{% endif %}{% endblock %}</a>
	  <div class="nav-collapse">
		<ul class="nav secondary-nav">
		  <li class="active"><a href="/">Home</a></li>
		  {% comment %}START Testimonies LI{% endcomment %}
		  <li class="dropdown">
	       <a href="#" 
	          class="dropdown-toggle" 
	          data-toggle="dropdown" 
	          data-target="#">Testimonies<b class="caret"></b></a>
	         <ul class="dropdown-menu">
	           <li><a href="/testimonies/Simplicity">Simplicity</a></li>
			   <li><a href="/testimonies/Peace">Peace</a></li>
			   <li><a href="/testimonies/Integrity">Integrity</a></li>
			   <li><a href="/testimonies/Community">Community</a></li>
			   <li><a href="/testimonies/Equality">Equality</a></li>
			   <li class="divider"></li>
			   <li><a href="/testimonies/">Testimonies Home</a></li>
			</ul>
		  {% comment %}END Testimonies LI{% endcomment %}
          </li>
          {% comment %}START Meetings LI{% endcomment %}
		  <li class="dropdown">
	       <a href="#" 
	          class="dropdown-toggle" 
	          data-toggle="dropdown" 
	          data-target="#">Meetings<b class="caret"></b></a>
	         <ul class="dropdown-menu">
			  <li><a href="/meetings/Worship">Worship</a></li>
	          <li><a href="/meetings/Business">Business</a></li>
	          <li><a href="/meetings/Special">Special</a></li>
	          <li><a href="/meetings/AdvicesAndQueries">Advices and Queries</a></li>	
	          <li class="divider"></li>
	          <li><a href="/meetings/">Meetings Home</a></li>
			 </ul>           
		  {% comment %}END Meetings LI{% endcomment %}
		  </li>
        </ul>
        <div class="btn-group pull-right">
		 <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
		  <i class="icon-user"></i> {% if user.username %}{{ user.username }}{% else %} Sign in {% endif %}<span class="caret"></span>
		 </a>
        <ul class="dropdown-menu">
		 {% if user.username %}
         <li><a href="/accounts/profile/">Profile</a></li>
         <li class="divider"></li>
         <li><a href="/accounts/logout/">Sign out</a></li>
         {% else %}
         <li><a href="/accounts/login/">Sign in</a></li>
         {% endif %}
        </ul>
        </div>
          <!--/.nav-collapse -->
	</div>
  </div>
</div>
