{% extends 'base.html' %}
{% load url from future %}

{% block hero-unit %}
<div class="span7 hero-unit">
{% if form.errors %}
 <p>Your username and password didn't match</p>
{% endif %}

<form class="form-inline" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  <h2>Please login</h2> 
   <p>
	  <label>{{ form.username.label_tag }}</label>
	  {{ form.username }}<br/>
      <label>{{ form.password.label_tag }}</label>
      {{ form.password }}
   </p>
  <input type="submit" class="btn" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
