{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
 <li class="active"><a href="#">{{ year }} Meeting Census</a></li>
{% endblock %}

{% block hero-unit %}
<div class="well">
 <h1>Colorado Springs Friends Meeting {{ year }} Census</h1>
 {% for friend in friends %}
     <p>{{ friend.short_name }} 
   {% for category in friend.friendcategory_set.all %}
    (<b>{% if friend.young_friend %}J{% endif %}{{ category.code }}</b>)
     </p>
   {% endfor %}
 {% endfor %}
 </ul>
</div>
{% endblock %}

{% block first-row %}{% endblock %}
{% block second-row %}{% endblock %}
