{% extends 'fluid.html' %}
{% load friends_extras %}

{% block sidebar-nav %}{% endblock %}

{% block more-breadcrumb-links %}
 <li class="active"><a href="#">{{ year }} Meeting Census</a></li>
{% endblock %}

{% block hero-unit %}
<div class="well">
 <h1>Colorado Springs Friends Meeting</h1>
 <h2>{{ year }} Census</h2>
 <div class="row">
  <div class="span3">
   {% for friend in shard_one %}
       {{ friend|census_display }}
   {% endfor %}
  </div>
  <div class="span3">
   {% for friend in shard_two %}
   {{ friend|census_display }}
   {% endfor %}
  </div>
  <div class="span3">
   <b>Category Key</b>
   <table class="table table-bordered table-striped table-condensed">
    <tr>
     <th>Code:</th>
     <th>Label:</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.code }}</td>
      <td>{{ category.label }}</td>
    </tr>
    {% endfor %}
    {% for category in categories %}
    <tr>
      <td>J{{ category.code }}</td>
      <td>Junior {{ category.label }}</td
    </tr>
    {% endfor %}
   </table>
  </div>
 </div>
</div>
{% endblock %}

{% block first-row %}{% endblock %}
{% block second-row %}{% endblock %}
