{% extends 'fluid.html' %}
{% load url from the future %}

{% block hero-unit %}
<div class="hero-unit">
{% if form.errors %}
 <p>Your username and password didn't match</p>
{% endif %}

<form class="form-inline" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  {{ form.username }}
  {{ form.password }}
  <input type="submit" class="btn" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}

{% block one-one-box %}{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}




