{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
 <li><a href="/Friends/">Friends</a><span class="divider">&raquo;</span></li>
 <li class="active">{{ friend.short_name }}</li>
{% endblock %}

{% block hero-unit %}
<div class="well">
 <h1>{{ friend.short_name }}</h1>
 
 {% if friend.image %}
 <img src="{{ STATIC_URL }}Friend/img/{{ friend.image.filename }}" class="float:left" />
 {% endif %}
</div>
{% endblock %}

{% block one-one-box %}
{% if committees %}
<div class="span4">
 <ul>
 <h2>Committees</h2>
 {% for row in committees %}
 <li><a href="/committees/{{ row.committee.name }}">{{ row.committee.name }}</a></li>
 {% endfor %}
 </ul>
</div>
{% else %}&nbsp;
{% endif %}
</div>
{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}




