{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Peace</h1>
 <p>that we actively work to ‘remove all causes of war’ and the use of 
    violence from this world, whether between individuals, tribes or nations.</p>
</div>
{% endblock %}

{% block one-one-box %}

{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}
{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}
