{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Equality</h1>
 <p>that each person in creation shares equal value and standing.</p>
</div>
{% endblock %}

{% block one-one-box %}
<div class="span5">
 <p>
 <blockquote class="pull-left">
 <p>
  Quakers have long affirmed what the laws of our country have explicitly 
  ruled — that none of the categories that make us distinctive as individuals 
  shall stand in the way of our realizing our lives fully and freely. Women 
  and men are equal. All races are equal. All people are free to choose 
  whatever religion speaks to their needs. No one person shall be subject to 
  another, nor in regard to spirit does any person hold rank above another. 
  Because we believe that the Light shines in the early years of life and in 
  the last, we value and respect youth and age equally with other stages of life.
  </p>
  <p><small><i>IMYM Faith and Practice</i> page 53</small> 
 </blockquote>
 </p>
</div>
{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}
{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}
