{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
 <li class="active"><a href="#">Testimonies</a></li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
<h1>Our testimonies</h1>
<p>Our testimonies grew out of Friends’ experience of the Light of God 
   in private contemplation and in worship together. These testimonies 
   form one of the most powerful expressions of our faith to the world.
</p>
<p>
   We do not hold a specific creed, nor is there a statement of faith to
   which we are asked to subscribe. Instead, we hold a central belief 
   that there is that of God within each person, and that we are called 
   to act in recognition of that Divine presence in ourselves and 
   others. 
</p>
<p>
   The conviction to honor ‘that of God in each one’ can lead to great 
   diversity among Friends. We hold these testimonies in common
</p>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
  <h2>Simplicity</h2>	 
  <p>
   that we seek to remove from our lives possessions and activities that
   would separate us from God and one another.
  </p>
  <p><a class="btn" href="/testimonies/simplicity">Read more &raquo;</a></p>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4">
 <h2>Peace</h2>
 <p>
  that we actively work to ‘remove all causes of war’ and the use of 
  violence from this world, whether between individuals, tribes or 
  nations.
 </p>
 <p><a href="/testimonies/peace" class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block one-three-box %}
<div class="span4">
 <h2>Integrity and Truth</h2>
 <p>
 that all we do reflects the integrity of and unity with truth.
 </p>
 <p><a href="/testimonies/integrity" class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block two-one-box %}
 <div class="span4">
  <blockquote class="pull-right">
  <p>The <a href="/ReligiousSocietyOfFriends">Religious Society of Friends</a>
   continues to evolve just as individual Quakers persist in their 
   efforts to more fully realize their faith in their practice.</p>
  </blockquote> 
 </div>
{% endblock %}

{% block two-two-box %}
<div class="span4">
 <h2>Community</h2> 
 <p>that we sustain caring relationships with all.</p>
 <p><a href="/testimonies/community" class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block two-three-box %}
<div class="span4">
 <h2>Equality</h2> 
 <p>that each person in creation shares equal value and standing.</p>
 <p><a href="/testimonies/equality" class="btn">Read more &raquo;</a></p>
{% endblock %}
