{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Integrity / Truth</h1>
 <p>that all we do reflects the integrity of and unity with truth.</p>
</div>
{% endblock %}

{% block one-one-box %}

{% endblock %}
{% block one-two-box %}
<div class="span4">
 <blockquote class="pull-right">
Friends consider integrity a way of life. In the stillness of worship we come into the Divine Presence and open ourselves to the Light; we hide nothing of who we are. In keeping with that openness of spirit, Friends express themselves with honesty in their dealings with others. Plain truth needs no decorative flourishes. We speak with simple clarity to reflect in our words the reality of our percep- tions and thoughts.
 <small>IMYM Faith and Practice, page 47</small>
 </blockquote>
</div>
{% endblock %}
{% block one-three-box %}{% endblock %}
{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}
