{% extends 'base.html' %}


{% block more-breadcrumb-links %}
  <li><a href="/testimonies">Testimonies</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Integrity / Truth</a></li>
{% endblock %}


{% block hero-unit %}
<div class="span6 hero-unit">
 <h1>Integrity / Truth</h1>
 <p>that all we do reflects the integrity of and unity with truth.</p>
</div>
{% endblock %}


{% block second-row %}
<div class="row">
 <div class="span4 box_display offset3">
  <blockquote class="pull-right">
  Friends consider integrity a way of life. In the stillness of worship we come into the Divine Presence and open ourselves to the Light; we hide nothing of who we are. In keeping with that openness of spirit, Friends express themselves with honesty in their dealings with others. Plain truth needs no decorative flourishes. We speak with simple clarity to reflect in our words the reality of our percep- tions and thoughts.
  <small>IMYM Faith and Practice, page 47</small>
  </blockquote>
 </div>
</div>
{% endblock %}
