{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/testimonies">Testimonies</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Peace</a></li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Peace</h1>
 <p>that we actively work to ‘remove all causes of war’ and the use of 
    violence from this world, whether between individuals, tribes or nations.</p>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
  <blockquote class="pull-right">
  <p><small> - IMYM <i>Faith and Practice</i> page </small></p>
  </blockquote>
 </div>
{% endblock %}
{% block one-two-box %}
<div class="span6">
  <a href="http://fcnl.org"><img src="{{ STATIC_URL }}img/fcnl-logo.png" /></a>
  <p>
   The Friends Committee on National Legislation (FCNL) fields the 
   largest team of registered peace lobbyists in Washington, DC. Founded
   in 1943 by members of the Religious Society of Friends (Quakers), 
   FCNL's multi-issue advocacy connects historic Quaker testimonies on 
   peace, equality, simplicity, and truth with 
   peace and social justice issues which the United States government 
   is or should be addressing. 
   <small>Extracted from FCNL website</small>
  </p>
</div>
{% endblock %}
{% block one-three-box %}{% endblock %}
{% block two-one-box %}
<div class="span4 well">
<h2>Local Peace Advocacy</h2>
<p>Members <a href="/Friends/BillDurland">Bill</a> and 
<a href="/Friends/GenieDurland">Genie</a> Durland actively engage
with Middle East issues, including the Palestinian humanitarian crisis.
</p>
</div>
{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}
