{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Simplicity</h1>
 <p>that we seek to remove from our lives possessions and activities 
    that would separate us from God and one another.</p>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span6">
  <h2>Practicing Simplicity</h2>
  <p>article snippet</p>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4 alert alert-success">
  <p>quote from local Friend...</p>
</div>
{% endblock %}

{% block one-three-box %}{% endblock %}

{% block two-one-box %}<div class="span4">&nbsp;</div>{% endblock %}

{% block two-two-box %}
<div class="span4">
 <h2>Resources on Simplicity</h2>
 
</div>
{% endblock %}

{% block two-three-box %}{% endblock %}
