{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/testimonies">Testimonies</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Simplicity</a></li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Simplicity</h1>
 <p>that we seek to remove from our lives possessions and activities 
    that would separate us from God and one another.</p>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span6">
 <blockquote class="pull-right">
  To Quakers, simplicity is a spiritual quality that denotes an inward 
  centeredness, a singleness of being that is responsive to the Divine 
  within. Simple living is a creative act that frees us from extraneous 
  concerns and enables us to devote attention to the Divine. A simple 
  life is often hard to achieve. It means consuming or collecting nothing 
  in excess of what is needful for our health and well-being and 
  understanding what that is. What is needful may differ from one person 
  to another, but in general it means that which is not extrane- ous in 
  terms of time, possessions, speech, and activities.</p>
  <p><small>IMYM <i>Faith and Practice</i> page 49</small></p>
 </blockquote>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4 alert alert-success">
  <p>quote from local Friend...</p>
</div>
{% endblock %}

{% block one-three-box %}{% endblock %}

{% block two-one-box %}<div class="span4">&nbsp;</div>{% endblock %}

{% block two-two-box %}
<div class="span4">
 <h2>Resources on Simplicity</h2>
 
</div>
{% endblock %}

{% block two-three-box %}{% endblock %}
