{% extends 'base.html' %}

{% block jumbotron %}
{# START container #}
<div class="container">
 {# START row #}
 <div class="row">
  {# START left nav #}
  <div class="col-md-3">
   {% include 'snippets/left-nav.html' %}
  {# END left nav #}
  </div>
  {# START Size DIV#}
  <div class="col-md-9">
   {# START jumbotron #}
   <div class="jumbotron">
    <h1>{{ info.user.first_name }} {{ info.user.last_name }}</h1>
    <p class="lead">{{ info.category }}</p>  

    <div class="btn-group">
    {% if user.is_superuser or user == info.user %}
        <a href="#" class="btn btn-primary" data-bind="click: changeInfo">Edit</a>
   {% endif %}
   {% if forms.password_change %}
    <a class="btn btn-warning" data-bind="click: changePW" href="#">Change Password</a>
   {% endif %}
   </div>
   {# END jumbotron #}
   </div>
  <div class="row">
  <div class="col-md-4">
  {% if user.is_authenticated %}
  <div class="well">
   <h3>Address and Contact Information</h3>
   {{ info.postal_address }} {{ info.postal_address.postalCode }}
   <h4>Email</h3>
   <a href="mailto:{{ info.user.email }}">{{ info.user.email }}</a>

   {% if telephones %}
   <h4>Telephone</h4>
   <ul>
    {% for number in telephones %}
     <li>{{ number.number }} ({% if number.phone_number_type == 0 %}Home{% endif %}
                              {% if number.phone_number_type == 1 %}Cell{% endif %}
                              {% if number.phone_number_type == 2 %}Business{% endif %}
                              {% if number.phone_number_type == 3 %}Work{% endif %}
                              {% if number.phone_number_type == 4 %}Other{% endif %})
     </li>
    {% endfor %}
   </ul>
  {% endif %}
  </div>
 {% endif %}
 </div>
 <div class="col-md-4">
  {% if committees %}
  {# START Committee Panel #}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Committee Membership</h2>
    </div>
    <div class="panel-body">
      <p>{{ info.user.first_name }} {{ info.user.last_name }} serves the Meeting through the
         following committee membership:</p>
      <ul>
        {% for row in committees %} 
        <li>{% if row.is_clerk %}Clerk{% endif %} <a href="/committees/{{ row.committee.name }}">{{ row.committee.group.name }}</a>.
           {% if user.is_authenticated %} Started on {{ row.dateStarted }}{% endif %}.
         </li>
        {% endfor %}
      </ul>
    </div>
  {# END Committee Panel #}
  </div>
  {% endif %}
  {% if offices %}
  {# START Offices Held Panel #}
  <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Offices Held</h3>
    </div>
    <div class="panel-body">
    <ul>
    {% for row in offices %}
     <li><strong>{{ row.office }}</strong> from {{ row.dateStarted }} to {% if row.dateCompleted %}{{ row.dateCompleted }}{% else %}Indefinite{% endif %}</li>
    {% endfor %}
    </ul>
    </div>
  {# END Offices Held Panel #}
  </div>
  {% endif %}
 </div>
 {% if forms.password_change %}
 <div class="col-md-4">
  <div class="well well-sm" data-bind="visible: showPWChangeForm">
   {{ forms.password_change }}
   <br>
   <button class="btn btn-danger" data-bind="click: pwChange">Update</button>
  </div>
 </div>
 {% endif %}
</div>

   {% if forms %}
   <div class="well" data-bind="visible: showEditForm" >
   <form class="form-horizontal" action="/friends/update" method="POST" id="friend-form">
    {% csrf_token %}
    <input type="hidden" name="friend_id" value="{{ info.pk }}">
    <div class="form-group">
     <label class="col-sm-2 control-label"> {{ forms.user.first_name.label  }}</label>
     <div class="col-md-4">
     {{ forms.user.first_name }}
     </div>
    </div>  
    <div class="form-group">
      <label class="col-sm-2 control-label"> {{ forms.user.last_name.label  }}</label>
      <div class="col-md-4">
       {{ forms.user.last_name }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"> {{ forms.user.email.label  }}</label>
      <div class="col-md-4">
       {{ forms.user.email }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"> {{ forms.friend.birthday.label }}</label>
      <div class="col-md-4">
        {{ forms.friend.birthday }}
      </div>
     <div class="col-md-3">
      <label>Is a birthright Friend?</label> 
      {{ forms.friend.is_birthright }} 
     </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Meeting Category</label>
      <div class="col-md-4">
     {{ forms.friend.category }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Public profile?</label>
      <div class="col-md-4">
     {{ forms.friend.is_public }}
      </div>
    </div>
    {% if not info.postal_address %}
      <a href="#" class="btn btn-warning">Add Address</a>
     {% else %}
     <div class="form-group">
      <label class="col-sm-2 control-label">Street Address</label>
      <div class="col-md-6">
     {{ forms.post_addr.streetAddress }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">City</label>
      <div class="col-md-6">
     {{ forms.post_addr.addressLocality }}
      </div>
    </div>
     <div class="form-group">
      <label class="col-sm-2 control-label">State</label>
      <div class="col-md-3">
     {{ forms.post_addr.addressRegion }}
      </div>
      <label class="col-sm-2 control-label">Zip code</label>
       <div class="col-md-2">
     {{ forms.post_addr.postalCode }}
      </div>
    </div>
    {% endif %}
    {% for phone in forms.telephones %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Telephone</label>
      <div class="col-md-3">
        {{ phone.number }}       
      </div>
      <div class="col-md-2">
        {{ phone.phone_number_type }}
      </div>
    </div>
    {% endfor %}
    <div class="form-group">
     <div class="col-md-2">
       <input class="btn btn-success"
               type="submit" value="Save"></input>
     </div>
    </div>
   </form>
  </div>
 {% endif %}
  {# END Size DIV#}
  </div>
  {# END row #}
 </div>
{# END container #}
</div>
{% endblock %}

{% block container %}
{% endblock %}

{% block more_js %}
{% if forms %}
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function FriendEditViewModel() {
   self = this;
   
   self.showEditForm = ko.observable(false);

   self.changeInfo = function() {
     if(self.showEditForm()) {
       self.showEditForm(false)
     } else {
       self.showEditForm(true)
     }

   }

  {% if forms.password_change %}
   self.showPWChangeForm = ko.observable(false);
   
   self.changePW = function() {
     if(self.showPWChangeForm()) { 
       self.showPWChangeForm(false);
     } else {
       self.showPWChangeForm(true);
     }
   }
 
   self.pwChange = function() {
    var new_pw = $('#id_new_password1').val();
    var confirm_pw = $('#id_new_password2').val();
    if(new_pw != confirm_pw) {
      alert("New passwords do not match!");
      $('#id_new_password1').val('');
      $('#id_new_password2').val('');
      return;
    }

    var data = {
     csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, 
     old_pwd: $('#id_old_password').val(),
     new_pwd: new_pw
    }

    $.ajax({
      data: data,
      method: 'POST',
      url: '/friends/pw',
      success: function(response) {
       if(response['result'] === 'error') {
        alert("Error changing password " + response['message']);
       } else {
         self.showPWChangeForm(false); 
       }
     }
    });
   }

  {% endif %}
   self.editFriendInfo = function() {
    self.showEditForm(true);
   }

    

 }
 $(":input").addClass("form-control"); 
 ko.applyBindings(new FriendEditViewModel());

</script>
{% endif %}
{% endblock %}
