{% extends 'base.html' %}

{% block jumbotron %}
{# START container #}
<div class="container">
 {# START row #}
 <div class="row">
  {# START left nav #}
  <div class="col-md-3">
   {% include 'snippets/left-nav.html' %}
  {# END left nav #}
  </div>
  {# START Size DIV#}
  <div class="col-md-9">
   {# START jumbotron #}
   <div class="jumbotron">
    <h1>Individual Friends</h1>
     <p class="lead">Listing of Colorado Springs Quaker Meeting Friends 
     &amp; Attenders</p>
   </p>
   {# END jumbotron #}
   </div>

   {# START listing row #}
   <div class="row">
     <div class="col-md-6 ">
      <ul class="list-group">
      {% for friend in slice1 %}
       <li class="list-group-item"><a href="/friends/{{ friend.user.username }}">{{ friend.user.first_name }} {{ friend.user.last_name }}</a>
       {% if user.is_authenticated %} 
         <span class="label label-default">
          {% if friend.birthday.year > 1999 %}
           Young 
          {% endif %}
          {{ friend.category }}
         </span>
         {% if friend.is_birthright %}
         <span class="label label-info">Birthright</span>
         {% endif %}
       {% endif %}
       </li>
      {% endfor %}
      </ul>
     </div>
     <div class="col-md-6">
      <ul class="list-group">
      {% for friend in slice2 %}
       <li class="list-group-item"><a href="/friends/{{ friend.user.username }}">{{ friend.user.first_name }} {{ friend.user.last_name }}</a>
       {% if user.is_authenticated %} 
         <span class="label label-default">
          {% if friend.birthday.year > 1999 %}
           Young 
          {% endif %}
          {{ friend.category }}
         </span>
         {% if friend.is_birthright %}
         <span class="label label-info">Birthright</span>
         {% endif %}
       {% endif %}
       </li>
      {% endfor %}
      </ul>
     </div>

   {# END listing row #}
   </div>
  {# END Size DIV#}
  </div>
  {# END row #}
 </div>
{# END container #}
</div>
{% endblock %}

{% block container %}
{% endblock %}
