{% extends 'base.html' %}

{% block more-breadcrumb-links %}
 <li class="active">Donate</li>
{% endblock %}


{% block hero-unit %}
<div class="span7 hero-unit">
 <h1>Donate</h1>
 <p>
 Welcome Friends! Please use this form to make an online donation. You 
 can use it to make a one time donation or set up a recurring payment. 
 If this is for something specific, please note that in the comment box. 
 </p>
 <p>
 If you are a member, please login to auto-fill this form and also 
 choose whether or not to have this website keep a record of your 
 donations for you to review in your private member profile. 
 </p>
 <p>
 Please remember that all donations to our group are tax-deductible. 
 Thank you for your support!
 </p>
 <form class="form-horizontal" method="POST">
  <div class="alert alert-block alert-info">
  <h2>Your information:</h2>
  <div class="control-group">
   <label class="control-label">
    {{ person_form.first_name.label }}:
    <span style="color: red">*</span>
   </label>
   <div class="controls">
    {{ person_form.first_name }}
   </div>
  </div>
  <div class="control-group">
   <label class="control-label">
    {{ person_form.last_name.label }}:
    <span style="color: red">*</span>
   </label>
   <div class="controls">
    {{ person_form.last_name }}
   </div>
  </div>
 <div class="control-group">
   <label class="control-label">
    {{ person_form.organization.label }}:
   </label>
   <div class="controls">
    {{ person_form.organization }}
   </div>
  </div>
  <div class="control-group">
   <label class="control-label">
    {{ person_form.address.label }}:
    <span style="color: red">*</span>
   </label>
   <div class="controls">
    {{ person_form.address }}
   </div>
  </div>
  <div class="control-group">
   <label class="control-label">
    {{ person_form.city.label }}:
    <span style="color: red">*</span>
   </label>
   <div class="controls">
    {{ person_form.city }}
   </div>
  </div>

  </div> 
 </form>
</div>
{% endblock %}

{% block one-one-box %}


{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}




