{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="well">
 <h1>Donate</h1>
 <p>
 Welcome Friends! Please use this form to make an online donation. You 
 can use it to make a one time donation or set up a recurring payment. 
 If this is for something specific, please note that in the comment box. 
 </p>
 <p>
 If you are a member, please login to auto-fill this form and also 
 choose whether or not to have this website keep a record of your 
 donations for you to review in your private member profile. 
 </p>
 <p>
 Please remember that all donations to our group are tax-deductible. 
 Thank you for your support!
 </p>
</div>
{% endblock %}

{% block one-one-box %}


{% endblock %}
{% block one-two-box %}{% endblock %}
{% block one-three-box %}{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}




