{% extends 'base.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Education and First Day School</a></li>
{% endblock %}

{% block hero-unit %}
{% comment %}STAR REA main DIV{% endcomment %}
 <div class="span7 hero-unit">
  <h1>Education and First Day School</h1>
   <p></p>
 {% comment %}END REA DIV{% endcomment %}
 </div>
{% endblock %}

{% block second-row %}
<div class="row">
 <div class="span5 box_display">
 <h2>Recent &amp; Upcoming Sessions</h2>
 <p></p>
 </div>

<div class="span4 box_display">
<h2>Current Members</h2>
{% if user.is_superuser %}
  {% include "committees/add_membership.html" %}
{% endif %}
{% include "committees/membership_list.html" %}
</div>
</div>
{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
 {% include "committees/add_membership_modal.html" %}
{% endif %}
{% endblock %}

