{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="hero-unit">
<h1>Committees</h1>
<p>
  
</p>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
  <h2>Ministry &amp; Oversight</h2>	 
  <p>
   
  </p>
  <p><a class="btn" href="/testi/simplicity">Read more &raquo;</a></p>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4">
 <h2>Finance</h2>
 <p>
  
 </p>
 <p><a href="/committees/Finance" class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block one-three-box %}
<div class="span4">
 <h2>Adult Education and Action</h2>
 <p>
 </p>
 <p><a href="/committees/REA/
 " class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block two-one-box %}
 <div class="span4">
  <h2>Meeting House </h2>
 <p><a href="/committees/MeetingHouse/"
  class="btn">Read more &raquo;</a></p>

 </div>
{% endblock %}

{% block two-two-box %}
<div class="span4">
 <h2>Education and First Day School</h2> 
 <p></p>
 <p><a href="/committees/FirstDaySchool" class="btn">Read more &raquo;</a></p>
</div>
{% endblock %}

{% block two-three-box %}
<div class="span4">
 <h2>Other Committees</h2> 
 <p></p>
 <p><a href="/" class="btn">Read more &raquo;</a></p>
{% endblock %}
