{% extends 'base.html' %}

{% block more-breadcrumb-links %}
  <li class="active"><a href="/committees">Committees</a></li>
{% endblock %}

{% block manage-toolbar %}
{% if user.is_superuser %}
<div class="row">
<div class="span3"><h3>Committee Management</h3></div>
<div class="span6">
<div class="btn-group">
 <a href="#" class="btn btn-small" onclick="$('#add_committee').modal('show')">Add</a>
 <a href="#" class="btn btn-small" onclick="$('#edit_committees').modal('show')">Edit</a>
 <a href="#" class="btn btn-small">Delete</a>
 <a href="#" class="btn btn-small">Membership</a>
 <a href="#" class="btn btn-small">Reports</a>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{% block hero-unit %}
<div class="span7">
 <div class="row">
  <div class="span7 hero-unit">
  <h1>Committees</h1>
  </div> 
 </div>
 <div class="row">
  <div class="span3 box_display">
   <h2>Ministry &amp; Oversight</h2>	 
   
  <p><a class="btn" href="/committees/MinistryAndOversight">Read more &raquo;</a></p>
 </div>
 <div class="span3 box_display">
  <h2>Finance</h2>
  <p><a href="/committees/Finance" class="btn">Read more &raquo;</a></p> 
 </div>
 </div>
</div>
{% endblock %}

{% block second-row %}
<div class="row">
<div class="span4 box_display">
 <h2>Adult Education and Social Action</h2>
 <p>
 </p>
 <p><a href="/committees/REA/
 " class="btn">Read more &raquo;</a></p>
</div>


 <div class="span3 box_display">
  <h2>Meeting House </h2>
 <p><a href="/committees/MeetingHouse/"
  class="btn">Read more &raquo;</a></p>

 </div>

<div class="span4 box_display">
 <h2>Education and First Day School</h2> 
 <p></p>
 <p><a href="/committees/Education" class="btn">Read more &raquo;</a></p>
</div>
</div>
<br/>
<div class="row">
<div class="span4 box_display">
 <h2>Nominating</h2> 
 <p></p>
 <p><a href="/committees/Nominating" class="btn">Read more &raquo;</a></p>
</div> 
</div>

{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
{% comment %}START Committee Managment Modal{% endcomment %}
<div class="span5">
<div class="modal hide fade" id="add_committee">
 <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h2>Add Committee</h2>
 </div>
 <form action="/committees/save" method="POST">
 {% csrf_token %}
 <div class="modal-body">
  {{ forms.committee_form }}
 </div>
 <div class="modal-footer">
 <input type="submit" class="btn btn-primary" value="Save" />
 <a href="#" onclick="$('#add_committee').modal('hide')" class="btn">Close</a>
 </div>
 </form>
</div>
</div>
{% comment %}END Committee Managment Modal{% endcomment %}
{% endif %}
{% comment %}START Committee Managment Modal{% endcomment %}
<div class="modal hide fade" id="edit_committees">
 <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h2>Edit Committee</h2>
 </div>
 <form method="POST" action="/committees/save">
 {% csrf_token %}
 <div class="modal-body">
  <select name="existing-committee">
    {% for row in forms.committees %}
    <option value="{{ row.pk }}">{{ row.name }}</option>
    {% endfor %}
   </select>
   <label>New Name:</label>
   <input type="text" name="name" id="id_name" class="span2" />
 </div>
 <div class="modal-footer">
 <input type="submit" class="btn btn-primary" value="Save" />
 <a href="#" onclick="$('#edit_committees').modal('hide')" class="btn">Close</a>
 </div>
</div>
{% endblock %}
