{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Meeting House</a></li>
{% endblock %}

{% block hero-unit %}
{% comment %}STAR finance DIV{% endcomment %}
 <div class="hero-unit">
  <h1>Meeting House</h1>
  <p></p>
 {% comment %}END finance DIV{% endcomment %}
 </div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
 <h2>Responsibilities</h2>
 
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4">
<h2>Current Members</h2>
{% if user.is_superuser %}
  {% include "committees/add_membership.html" %}
{% endif %}
{% include "committees/membership_list.html" %}
</div>
{% endblock %}

{% block one-three-box %}
<div class="span4">
<h2>Recent Reports and Minutes</h2>
{% if user.is_superuser %}
 {% include "committees/add_report.html" %}
{% endif %}
{% include "committees/report_list.html" %}
</div>
{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
 {% include "committees/add_membership_modal.html" %}
 {% include "committees/add_report_modal.html" %}
{% endif %}
{% endblock %}
