{% extends 'fluid.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Ministry and Oversight</a></li>
{% endblock %}

{% block hero-unit %}
<div class="row-fluid">
 {% comment %}STAR M&O-main DIV{% endcomment %}
 <div class="hero-unit">
  <h1>Ministry and Oversight</h1>
   <p>The committee ideally consists of members of varied ages,
   genders, and gifts who are faithful in worship and sensitive to the
   life of the spirit - Friends both young and old looked to as 
   spiritual elders and having experience, empathy, good judgement, and
   discretion.</p>
   <small>-IMYM Faith and Practice page 62</small>
   
 {% comment %}END M&O-main DIV{% endcomment %}
 </div>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
 <h2>Responsibilities</h2>
 <ul>
  <li>Care for the <a href="/meetings/Worship">Meeting of Worship</a></li>
  <li>Care for the <a href="/meetings/Business">Meeting for Business</a></li>
  <li>Care for Individual Lives</li>
 </ul>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4">
<h2>Current Members</h2>
{% if user.is_superuser %}
  {% include "committees/add_membership.html" %}
{% endif %}
{% include "committees/membership_list.html" %}
</div>
{% endblock %}

{% block one-three-box %}
<div class="span4">
<h2>Recent Reports and Minutes</h2>
{% if user.is_superuser %}
 {% include "committees/add_report.html" %}
{% endif %}
<ul>
{% include "committees/report_list.html" %}
</div>
{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
 {% include "committees/add_membership_modal.html" %}
 {% include "committees/add_report_modal.html" %}
{% endif %}
{% endblock %}
