{% extends 'fluid.html' %}

{% block hero-unit %}
<div class="row-fluid">
 <div class="span12">
   <ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">&raquo;</span></li>
    <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
    <li class="active"><a href="#">Ministry and Oversight</a></li>
  </ul>
 </div>
</div>
<div class="row-fluid">
 {% comment %}STAR M&O-main DIV{% endcomment %}
 <div class="hero-unit">
  <h1>Ministry and Oversight</h1>
   <p>The committee ideally consists of members of varied ages,
   genders, and gifts who are faithful in worship and sensitive to the
   life of the spirit - Friends both young and old looked to as 
   spiritual elders and having experience, empathy, good judgement, and
   discretion.</p>
   <small>-IMYM Faith and Practice page 62</small>
   
 {% comment %}END M&O-main DIV{% endcomment %}
 </div>
</div>
{% endblock %}

{% block one-one-box %}
 <div class="span4">
 <h2>Responsibilities</h2>
 <ul>
  <li>Care for the <a href="/meetings/Worship">Meeting of Worship</a></li>
  <li>Care for the <a href="/meetings/Business">Meeting for Business</a></li>
  <li>Care for Individual Lives</li>
 </ul>
 </div>
{% endblock %}

{% block one-two-box %}
<div class="span4">
<h2>Current Members</h2>
{% if user.is_superuser %}
 <a href="#" class="btn btn-small" onclick="$('#add_membership').modal('show')">Add Membership</a>
{% endif %}
<ul>
{% for friend in committee_members %}
 <li><a href="/Friends/{{ friend.user.username }}">{{ friend.user.username }}</a> {% if position %}({{ position.value }}){% endif %}
 {% if user.is_superuser %}
 <a href="#" class="btn btn-small" onclick="$('#remove_membership').modal('show')"><i class="icon-remove"></i></a>
{% endif %}
 </li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block one-three-box %}
<div class="span4">
<h2>Recent Reports and Minutes</h2>
<ul>
{% for report in committee_reports %}
 <li><a href="/committees/MinistryAndOversight/{{ report.report_date.year }}/{{ report.report_date.month }}/{{ report.name }}">
     {{ report.year }}/{{ report.month }}/{{ report.name }}</a>
 </li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block two-one-box %}{% endblock %}
{% block two-two-box %}{% endblock %}
{% block two-three-box %}{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
{% comment %}START Add User Modal{% endcomment %}
<div class="modal hide fade" id="add_membership">
 <div class="modal-header">
 <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h2>Add Committee Member</h2>
 </div>
 <form action="/committees/{{ committee.name }}/members/add" method="POST">
 {% csrf_token %}
 <div class="modal-body">
 {{ members_form.user.label }}
 {{ members_form.user }}
 <br/>
  {{ members_form.date_joined.label }}
 {{ members_form.date_joined }}

 </div>
 <div class="modal-footer">
 <input type="submit" class="btn btn-primary" value="Save" />
 <a href="#" onclick="$('#add_membership').modal('hide')" class="btn">Close</a>
 </div>
 </form>
{% comment %}END Add User Modal{% endcomment %}
</div>
{% endif %}
{% endblock %}
