{% extends 'base.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Nominating</a></li>
{% endblock %}

{% block hero-unit %}
{% comment %}STAR M&O-main DIV{% endcomment %}
 <div class="span7 hero-unit">
  <h1>Nominating</h1>
  <p>Nominating committees are concerned with how the gifts of
   members and attenders may best serve the meeting's needs for clerks,
   committee members, and responsible positions.
   <small>IMYM Faith and Practice page 62</small>
 {% comment %}END M&O-main DIV{% endcomment %}
 </div>
{% endblock %}

{% block second-row %}
<div class="row">
 <div class="span4 box_display">
 <h2>Responsibilities</h2>
 <p></p>
 </div>

<div class="span3 box_display">
<h2>Current Members</h2>
{% if user.is_superuser %}
  {% include "committees/add_membership.html" %}
{% endif %}
{% include "committees/membership_list.html" %}
</ul>
</div>

<div class="span4 box_display">
<h2>Recent Reports and Minutes</h2>
{% if user.is_superuser %}
 {% include "committees/add_report.html" %}
{% endif %}
<ul>
{% for report in committee_reports %}
 <li><a href="/committees/Nominating/{{ report.year }}/{{ report.month }}/{{ report.name }}">
     {{ report.year }}/{{ report.month }}/{{ report.name }}</a>
 </li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}

{% block dialogs %}
{% if user.is_superuser %}
 {% include "committees/add_membership_modal.html" %}
 {% include "committees/add_report_modal.html" %}
{% endif %}
{% endblock %}
