{% extends 'fluid.html' %}
{% load markup %}
{% load committee_extras %}
{% block sidebar-nav %}{% endblock %}

{% block more-breadcrumb-links %}
 <li><a href="/committees">Committees</a> <span class="divider">&raquo;</span></li>
 <li class="active">{{ report.report_type|get_report_type }} {{ report.report_date|date:"F d, Y" }}</li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
<h2>{{ report.committee.name }}</h2>
<h1>{{ report.report_type|get_report_type }}</h1>
<h3>{{ report.report_date|date:"F d, Y"}}</h3>
{{ contents|restructuredtext }}
</div>
{% endblock %}

{% block one-one-box %}
{% endblock %}

{% block one-two-box %}
{% endblock %}

{% block one-three-box %}
{% endblock %}

{% block two-one-box %}
{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}
{% endblock %}
