{% extends 'fluid.html' %}
{% load i18n %}
{% load meeting_extras %}

{% block more-breadcrumb-links %}
  <li><a href="/meetings">Meetings</a> <span class="divider">&raquo;</span></li>
  <li class="active">Advices and Queries</a></li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>Advices and Queries</h1>
</div>
{% endblock %}

{% block one-one-box %}
{% if user.is_superuser %}
 <div class="span4">
  <h2>Minutes</h2>
  {% if user.is_superuser %}
   <h4>Yeah i'm so powerful</h4>
  {% endif %}
 </div>
{% endif %}
{% endblock %}

{% block one-two-box %}
<div class="span3">
{% if reports %}
  <h2>Reports</h2>
{% else %}
  &nbsp;
{% endif %}
</div>

{% endblock %}

{% block one-three-box %}
<div class="span4">

</div>
{% endblock %}

{% block two-one-box %}{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}{% endblock %}

{% block dialogs %}

{% endblock %}
