{% extends 'base.html' %}
{% load i18n %}
{% load meeting_extras %}

{% block more-breadcrumb-links %}
  <li><a href="/meetings">Meetings</a> <span class="divider">&raquo;</span></li>
  <li class="active">Advices and Queries</a></li>
{% endblock %}

{% block hero-unit %}
<div class="span6 hero-unit">
 <h1>Advices and Queries</h1>
</div>
{% endblock %}

{% block second-row %}
<div class="row">
 <div class="span4 offset3 box_display">
  <h2>Advices</h2>
    <ul>
  {% for row in advices %}
    <li><a href="/meetings/Advice/{{ row.year }}/{{ row.month }}/">{{ row|date:"F j, Y" }}</a></li>
  {% endfor %}
  </ul>
 </div>
 
 <div class="span4 box_display">
  <h2>Queries</h2>
    <ul>
  {% for row in queries %}
    <li><a href="/meetings/Query/{{ row.year }}/{{ row.month }}/">{{ row|date:"F j, Y" }}</a></li>
  {% endfor %}
  </ul>
 </div>
 	
</div>
{% endblock %}
{% block dialogs %}

{% endblock %}
