{% extends 'base.html' %}
{% load i18n %}

{% block more-breadcrumb-links %}
  <li class="active"><a href="#">Contact</a></li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h1>Contact</h1>
 <h2>Colorado Springs Friends Meeting</h2>
 <div class="row">
  <div class="span4">
  <h3>Mailing Address</h3>
  <address class="alert alert-block">
    950 Cimarron Street East<br/>
    Colorado Springs, Colorado<br/> 
    80903
  </address>
  </div>
  <div class="span3">
   <h3>Telephone</h3>
   <span class="label label-info label-large" style="font-size: 1em">
   719-685-5548
   </span>
  </div>
 </div>
 <p><a class="btn btn-primary" onclick="$('#email-dlg').modal('show')" href="#">Email Us</a></p>
</div>
{% endblock %}

{% block one-one-box %}
{% endblock %}

{% block one-two-box %}
{% if reports %}
<div class="span4">
  <h2>Reports</h2>
</div>
{% endif %}
{% endblock %}

{% block one-three-box %}
{% endblock %}

{% block two-one-box %}{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}{% endblock %}

{% block dialogs %}
 {% include 'snippets/email-dlg.html' %}
{% endblock %}
