{% extends 'fluid.html' %}
{% load i18n %}
{% load meeting_extras %}

{% block more-breadcrumb-links %}
  <li><a href="/meetings">Meetings</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">{{ meeting.name }}</a></li>
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <h1>{{ meeting.name }}</h1>
 <p>
  {{ meeting.description }}
 </p>
</div>
{% endblock %}

{% block one-one-box %}
{% if minutes or user.is_superuser %}
 <div class="span4">
  <h2>Minutes</h2>
  {% if user.is_superuser %}
  <a href="#" class="btn btn-small" onclick="$('#add_minute').modal('show')">Add Minute</a>
 {% endif %}
  <ul>
  {% for report in meeting.minutes %}
    <li><a href="/meetings/{{ report.meeting_type|get_name }}/{{ report.meeting_date.year }}/{{ report.meeting_date.month|pretty_month }}/{{ report.report_type|get_report }}">{{ report.name }} {{ report.meeting_date|date:"F j, Y" }}</a></li>
  {% endfor %}
  </ul>
 </div>
{% endif %}
{% endblock %}

{% block one-two-box %}
{% if reports %}
<div class="span4">
  <h2>Reports</h2>
</div>
{% endif %}
{% endblock %}

{% block one-three-box %}
{% endblock %}

{% block two-one-box %}{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}{% endblock %}

{% block dialogs %}
{% comment %}START add_minute DIV{% endcomment %}
<div class="modal hide fade" id="add_minute">
 <div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h2>{% trans "Add Minute" %} {{ meeting.name }}</h2>
 </div>
 <form action="/meetings/{{ meeting.type_of|get_name }}/report/add" method="POST">
 <div class="modal-body">
  {% csrf_token %}
  <label>{{ minute_form.meeting_date.label }}</label>
  {{ minute_form.meeting_date }}
  <label>reStructured Text filename</label>
  {{ minute_form.rstFileLocation }}
  <label>{{ minute_form.report_type.label }}</label>
  {{ minute_form.report_type }}
  <label>{{ minute_form.authors.label }}</label>
  {{ minute_form.authors }}
 </div>
 <div class="modal-footer">
 <input type="submit" class="btn btn-primary" value="Save" />
  <a href="#" onclick="$('#add_minute').modal('hide')" class="btn">Close</a>
 </div>
 </form>
{% comment %}END add_minute DIV{% endcomment %}
</div> 
{% endblock %}
