{% extends 'base.html' %}
{% load markup %}
{% load meeting_extras %}
{% block sidebar-nav %}{% endblock %}

{% block more-breadcrumb-links %}
 <li><a href="/meetings">Meetings</a> <span class="divider">&raquo;</span></li>
 <li><a href="/meetings/{{ meeting }}">{{ meeting|title }}</a> <span class="divider">&raquo;</span></li>
 <li class="active">{{ report_type }} for {{ meeting_date|date:"F j, Y" }}</li>
{% endblock %}

{% block hero-unit %}
<div class="span9 well">
<h3>{{ meeting_date|date:"F j, Y" }}</h3>
{% autoescape off %}
{{ contents }}
{% endautoescape %}
</div>
{% endblock %}
