{% extends 'fluid.html' %}
{% load event_extras %}

{% block more-breadcrumb-links %}
 <li><a href="/events/">Events</a><span class="divider">&raquo;</span></li>
 <li><a href='/events/{{current|date:"Y"}}/{{ current|date:"m" }}/'>{{ current|date:"F Y" }}</a><span class="divider">&raquo;</span></li>
 <li class="active"><a href="#">Events for {{ current|date:"F d, Y" }}</a></li>
{% endblock %}


{% block hero-unit %}
<div class="well">
 <h1>Colorado Springs Quakers</h1>
 <h2>Events for {{ current|date:"F d, Y" }}</h2>
</div>
{% endblock %}

{% block one-one-box %}
<div class="span4 well">
<h2>Meeting Events</h2>
{% for event in meeting_events %}
  <p>{{ event.name }} {{ event.start_on|date:"f a" }} to {{ event.end_on|date:"f a" }}</p>
{% endfor %}
</div>
{% endblock %}

{% block one-two-box %}
{% endblock %}

{% block one-three-box %}
{% endblock %}

{% block two-one-box %}
{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}
{% endblock %}
