{% extends 'fluid.html' %}
{% load event_extras %}

{% block more-breadcrumb-links %}
 <li class="active"><a href="#">Events</a></li>
{% endblock %}


{% block hero-unit %}
<div class="well">
 <h1>Colorado Springs Quakers Events</h1>
 <div class="row">
  <div class="span3">{{ "today"|get_calendar }}</div>
  <div class="span4">
   <table class="table table-bordered table-striped table-condensed">
    <thead>
	 <tr>
     <th>Event</th>
     <th>Start</th>
     <th>End</th>
     </tr>
    </thead>
    <tbody>
	{% for event in events %}
     <tr>
       <td>{{ event.name }}</td>
       <td>{{ event.start_on|date:"F d, Y f a" }}</td>
       <td>{{ event.end_on|date:"F d, Y f a" }}</td>
     </tr>
     {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}

{% block one-one-box %}
{% endblock %}

{% block one-two-box %}
{% endblock %}

{% block one-three-box %}
{% endblock %}

{% block two-one-box %}
{% endblock %}

{% block two-two-box %}
{% endblock %}

{% block two-three-box %}
{% endblock %}
