{% extends 'base.html' %}

{% block jumbotron %}
<div class="container">
 <div class="row">
  <div class="col-md-3">
   {% include 'snippets/left-nav.html' %}
  </div>
  <div class="col-md-8">
   {# START jumbotron #}
   <div class="jumbotron">
     <h1>{% block committee_name %}Committee Name{% endblock %}</h1> 
     <p class="lead">
      {% block committee_description %}{% endblock %}
     </p>
    {# END jumbotron #}
   </div>
  </div>
  {% block more_jumbotron %}{% endblock %}
</div>
{% endblock %}

{% block container %}
<div class="row">
  {# START Committee Membership DIV #}
  <div class="col-lg-4">
     <h2>Membership</h2>
     <p>The following Friends are members of this committee:</p>
     <ul class="list-group">
      {% for member in membership %}
      {% if member.friend.is_public or user.is_authenticated %}
      <li class="list-group-item"><a href="/friends/{{ member.friend.user.first_name }}{{ member.friend.user.last_name }}">
        {{ member.friend.user.first_name }} {{ member.friend.user.last_name }}</a>
      </li>
      {% endif %}
      {% endfor %}
     </ul>
     <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
  {# END  Committee Membership DIV #}
  </div>
 
 {% block reports %} 
 {# START Reports DIV #}
  <div class="col-lg-4">
     <h2>Reports</h2>
     <p>Monthly Reports</p>
    <ul class="list-group" >
    {% for report_date in reports %}
      <li class="list-group-item"><a href="/committees/{{ Committee }}/{{ report_date.year }}/{{ report_date.month }}">
         {{ report_date|date:"F d, Y" }}</a>
      </li>
    {% endfor %}
    </ul>
 {# END Reports DIV #}
  </div>
 {% endblock %}
</div> 
{% endblock %}

