{% extends 'base.html' %}

{% block jumbotron %}
{% endblock %}

{% block container %}
{# START row #}
<div class="row">
 {# START left nav #}
 <div class="col-md-3">
  {% include 'snippets/left-nav.html' %} 
 {# END left nav #}
 </div> 
 {# START main #}
 <div class="col-md-9">
  <h1>Colorado Springs Friends Meeting</h1>
  <h2>The Religious Society of Friends (Quakers)</h2>
  <div id="carousel-example-generic" 
       class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    {# START Meeting Home #}
    <div class="item active">
      <img class="img-thumbnail" src="{{ url_for('static', filename='img/cosprgs-meeting-house.jpg') }}" alt="">
      <div class="carousel-caption">
        <h3>950 E. Cimarron Street</h3>
        <p>
         Colorado Springs, Colorado
        </p>
      </div>
    {# END Meeting Home #}
    </div>
  <div class="item">
    <img src="{{ url_for('static', filename='img/cosprgs-monthly-meeting-Summer-2012.jpg') }}" >
      <div class="carousel-caption">
       <h3>Colorado Springs Friends Summer 2012</h3>
       <p>
         A group photo of Friends from the Summer of 2012.
       </p>
      </div>
  </div>
  <div class="item">
    <img src="{{ url_for('static', filename='img/George-Fox_by_Lely.jpg') }}" style="margin-left:auto;margin-right:auto;">
    <br/>
      <div class="carousel-caption">
      <h4>George Fox (1624-1691)</h4>
      <p>
        Founder, Religious Society of Friends
      </p>
      </div>
  </div>


    {# START  Home #}
    <div class="item">

      <img class="img-thumbnail" src="{{ url_for('static', filename='img/cosprgs-meeting-house.jpg') }}" alt="">

      <div class="carousel-caption">
        <h3>Meeting House at 950 E. Cimarron Street</h3>
        <p>
         In 2012 the Colorado Springs Monthly meeting purchased a church
         for use as a permanent Meeting House.
        </p>
      </div>
    {# END Meeting Home #}
    </div>

    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" 
     href="#carousel-example-generic" 
     data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" 
     href="#carousel-example-generic" 
     data-slide="next">
    <span class="icon-next"></span>
  </a>

</div>
  
<br>
 {# END main #}
 </div> 
{# END row #}
</div>

{# START row #}
<div class="row">
  {# START Worship & Contact #}
  <div class="col-md-8 well">
   <h2>Worship &amp; Contacting Us</h2>
   <p class="lead">Weekly Meetings for <a href="/meetings/Worship">Worship</a> with the Colorado Springs 
   Religious Society of Friends Meeting are held every Sunday, 10 AM at:<p>
   <div class="alert alert-success pull-left">
    950 E. Cimarron Street<br>
    Colorado Springs, CO 80903 
   </div> 
      <p>Email:  
     <a href="mailto:deneen1129@gmail.com">deneen1129@gmail.com</a>
    </p>
    <p>Telephone: (719)-553-7070</p>

    <br>
    <a target="_blank" href="https://www.givelify.com/givenow/1.0/MTQ5NjY2NA==/selection"><img src="https://images.givelify.com/PrimaryGiveButton2x.png" alt="Givelify" /></a>

  {# END Worship & Contact #}
  </div>
  <div class="col-md-3">
    <div class="well">
        <h2>News</h2>
	<p>
          You are welcome to join us for online meeting for worship every Sunday at 
	  10 AM via Zoom.
	</p>
	<p>
          Connect through this link: 
	  <a href="https://westernfriend.org/">www.westernfriend.org</a>.
        </p>
	<p>
          (The link for Colorado Springs Meeting will be on the list of online meetings).
        </p>
	<p>
          If you have questions, please contact the Clerk, Deneen Crandell, at
	  <a href="mailto:Deneen1129@gmail.com">Deneen1129@gmail.com</a>
	</p>
    </div>
  </div>
{# END row #}
</div> 
{% endblock %}


