{% extends 'base.html' %}

{% block more-breadcrumb-links %}
  <li><a href="/testimonies">Testimonies</a> <span class="divider">&raquo;</span></li>
  <li class="active"><a href="#">Simplicity</a></li>
{% endblock %}

{% block jumbotron %}
{# START container #}
<div class="container">
 {# START row #}
 <div class="row">
  {# START left nav #}
  <div class="col-md-3">
   {% include 'snippets/left-nav.html' %}
  {# END left nav #}
  </div>
  {# START Size DIV#}
  <div class="col-md-9">
   {# START jumbotron #}
   <div class="jumbotron">
    <h1>Simplicity</h1>
    <p>that we seek to remove from our lives possessions and activities 
       that would separate us from God and one another.</p>
   {# END jumbotron #}
   </div>
   {# START quote row#}
   <div class="row">
    <div class="col-md-4"> 
     <blockquote class="pull-right">
     To Quakers, simplicity is a spiritual quality that denotes an inward 
     centeredness, a singleness of being that is responsive to the Divine 
     within. Simple living is a creative act that frees us from extraneous 
     concerns and enables us to devote attention to the Divine. A simple 
     life is often hard to achieve. It means consuming or collecting nothing 
     in excess of what is needful for our health and well-being and 
     understanding what that is. What is needful may differ from one person 
     to another, but in general it means that which is not extrane- ous in 
     terms of time, possessions, speech, and activities.</p>
     <p><small>IMYM <i>Faith and Practice</i> page 49</small></p>
    </blockquote>
   </div>
   {# END quote row#}
   </div>
  {# END Size DIV#}
  </div>
 {# END row #}
 </div>
{# END container #}
</div>
{% endblock %}

{% block container %}
<div class="row">
 <div class="col-md-6 box_display">
 </div>
</div>
{% endblock %}

