<div class="btn-group-vertical btn-group-lg hidden-xs hidden-sm">
 {# START Testimonies #}
 <a class="btn btn-primary"
         data-toggle="collapse"
         data-target="#testimonies">
   Testimonies
 </a>

 <div id="testimonies" class="collapse {% if section == 'testimonies' or category == 'home' %}in {% endif %}left-nav-body">
  <p>We, as Quakers, do not affrim any specific doctrine or 
     creed but instead try to live in accordance with the following
     testimonies:
  </p>
  <ul>
   <li><a href="/testimonies/Simplicity">Simplicity</a></li>
   <li><a href="/testimonies/Peace">Peace</a></li>
   <li><a href="/testimonies/Integrity">Integrity</a></li>
   <li><a href="/testimonies/Community">Community</a></li>
   <li><a href="/testimonies/Equality">Equality</a></li>
  </ul>
 </div>
{# END Testimonies #}

 <a class="btn btn-primary"
         data-toggle="collapse"
         href="#meetings">
   Meetings
 </a>

 {# START Meeting #}
 <div id="meetings" class="collapse {% if section == 'meeting' %}in {% endif %}left-nav-body">
  <p>
   Our Quaker Communtity centers around formal gathering of Friends. Our weekly Meeting for 
   Worship is usually 10 am on First Day (Sunday). Our monthly Business Meeting, where consensus
   decisions are made concerning the financial, spritual, and physical matters is usually held
   the third first day after the close of Meeting for Worship.
  </p>
  <ul>
   <li><a href="/meetings/Worship">Worship</a></li>
   <li><a href="/meetings/Business">Business</a></li>
  </ul>

 </div>
 {# END Meeting #}

 {# START Committees #}
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#committees">
  Committees
 </a>
 <div id="committees" class="collapse left-nav-body {% if section == 'committee' %}in {% endif %}">
  <p>
   Our Meeting's committees serve a vital role in our 
   spritual service and community. 
  </p>
  <ul>
    <li><a href="/committees/Finance">Finance</a></li>
    <li><a href="/committees/MeetingHouse">Meeting House</a></li>
    <li><a href="/committees/MinistryAndOversight">Ministry and Oversight</a></li>
    <li><a href="/committees/Nominating">Nominating</a></li>
    <li><a href="/committees/PeaceAndSocialConcerns">Peace and Social Concerns</a></li>
  </ul>
 </div> 
 {# END Committees #}

 {# START History #} 
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#history">
  Our History
 </a>

 <div id="history" class="collapse left-nav-body">
  <p>
  Our history
  </p>
 
 </div> 
 {# END History #} 

 {# START friends #}
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#friends">
  Current Friends
 </a>

 <div id="friends" class="collapse left-nav-body">
  <p>
  Friends
  </p>
 
 </div> 
 {# END friends #}

 {# START calendar #}
  <a class="btn btn-primary"
    data-toggle="collapse"
    href="#calendar friends">
  Calendar 
 </a>

 <div id="calendar" class="collapse left-nav-body">
  <p>
  Calendar 
  </p>
 
 </div> 

 {# END calendar #}

</div>
