<div class="btn-group-vertical btn-group-lg">
 {# START Testimonies #}
 <a class="btn btn-primary"
         data-toggle="collapse"
         data-target="#testimonies">
   Testimonies
 </a>

 <div id="testimonies" class="collapse in left-nav-body">
  <p>We, as Quakers, do not affrim any specific doctrine or 
     creed but instead try to live in accordance with the following
     testimonies:
  </p>
  <ul>
   <li><a href="/testimonies/Simplicity">Simplicity</a></li>
   <li><a href="/testimonies/Peace">Peace</a></li>
   <li><a href="/testimonies/Integrity">Integrity</a></li>
   <li><a href="/testimonies/Community">Community</a></li>
   <li><a href="/testimonies/Equality">Equality</a></li>
  </ul>
 </div>
{# END Testimonies #}

 <a class="btn btn-primary"
         data-toggle="collapse"
         href="#meetings">
   Meetings
 </a>

 {# START Meeting #}
 <div id="meetings" class="collapse left-nav-body">
  <ul>
   <li>Worship</li>
   <li>Business</li>
  </ul>

 </div>
 {# END Meeting #}

 {# START Committees #}
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#committees">
  Committees
 </a>

 <div id="committees" class="collapse left-nav-body">
  <p>
   Committees
  </p>
 
 </div> 
 {# END Committees #}

 {# START History #} 
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#history">
  Our History
 </a>

 <div id="history" class="collapse left-nav-body">
  <p>
  Our history
  </p>
 
 </div> 
 {# END History #} 

 {# START friends #}
 <a class="btn btn-primary"
    data-toggle="collapse"
    href="#friends">
  Current Friends
 </a>

 <div id="friends" class="collapse left-nav-body">
  <p>
  Friends
  </p>
 
 </div> 
 {# END friends #}

 {# START calendar #}
  <a class="btn btn-primary"
    data-toggle="collapse"
    href="#calendar friends">
  Calendar 
 </a>

 <div id="calendar" class="collapse left-nav-body">
  <p>
  Calendar 
  </p>
 
 </div> 

 {# END calendar #}

</div>
